*{
    margin: 0rem;
    padding: 0;
    box-sizing:border-box; 
    background-color: #a986b8d5; 
    font-family: Arial, Helvetica, sans-serif;
    }

    body{
    overflow: auto;
}

    html{
        font-family: Arial, Helvetica, sans-serif;
    }
    
